<section class="aulas">
  <div class="container">
    <div class="text">
      <h3>Aulas abertas</h3>
      <p>
        Fomentamos o <span>debate</span> ao trazer
        <span>personalidades</span> que exercem papéis importantes na
        transformação da cidade, das edificações e nos modos de vida cotidiano
        para uma prosa rica e provocadora.
      </p>
      <a href="#">Assista às aulas em nossa plataforma</a>
    </div>
    <img src="../../../assets/images/img-aula-aberta.png" alt="Aulas Abertas" />
  </div>

  <div class="container">
    <div class="text">
      <h3>Aulas Pílula</h3>
      <p>
        São preparadas para quem quer aprender algo rápido e prático,
        <span>sem blábláblá!</span>Selecionamos trechos dos <span>melhores cursos</span> e
        compartilhamos de forma <span>gratuita</span> para você já utilizar no dia a dia de
        seu escritório.
      </p>
      <a href="#">Assista às aulas em nossa plataforma</a>
    </div>
    <img src="../../../assets/images/img-aula-pilula.png" alt="Aulas Pílulas" />
  </div>
</section>
