<div class="bg">
  <div class="content">
    <div class="header">
      <h1>E o nosso conteúdo</h1>
      <p>
        Com abordagens sobre distintos temas atrelados à arquitetura, urbanismo,
        artes, construção, ciências ambientais e outros, de forma a sempre
        articular o tema à nossa realidade.
      </p>
    </div>

    <div class="main">
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/zoCBR0H4GJs?si=mva79a6ichtMlkOC"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="logo-coletiva">
        <img
          src="../../../../assets/images/logo-coletiva-vermelho.png"
          alt="logo-coletiva-vermelho"
        />
      </div>
    </div>

    <div class="footer">
      <a href="#"
        ><img
          src="../../../../assets/images/social-midia/youtube.svg"
          alt="youtube"
      /></a>
      <a href="#"
        ><img
          src="../../../../assets/images/social-midia/instagram.svg"
          alt="instagram"
      /></a>
    </div>
  </div>
</div>
