<section class="section-solucao">
    <main class="solucao-content">
        <div class="textos-solucao">
            <p class="titulo">Temos a solução</p>
            <p class="paragrafo">A água é um dos elementos essenciais para a vida e ela pode tornar-se um grande
                recurso nas
                edificações e
                espaços abertos quando bem planejada.
                Este curso abordará a água como elemento fundamental no funcionamento das edificações, assentamentos
                humanos e de seus ocupantes, dentro do contexto das soluções ecológicas (baseadas na natureza),
                princípios e boas práticas de projeto em diversas escalas (do edifício ao desenho urbano e rural).
            </p>
            <button class="inscrevase solucao-button">QUERO GARANTIR
                MINHA VAGA !</button>
        </div>
        <div class="moldura-video">
            <iframe class="link-video-curso" src="https://www.youtube.com/embed/zoCBR0H4GJs?si=YSdPMy4hn5-2SX5T"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </main>
</section>