.section-promessa {
    padding-top: 0;
  }

.promessa-content {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.promessa-content .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;

    margin-top: 1.95rem;
    margin-bottom: 1.95rem;
}


.promessa-content .text p {
    color: #000;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
}

.promessa-content img {
    width: 90%;
}

@media screen and (max-width: 768px) {
    .promessa-content .text {
        font: 1.5;
        width: 90%;
    }

    .promessa-content .text p {
        text-align: left;

    }
}