<section class="section-beneficios">
    <main class="beneficios-content">
        <div class="cards">
            <div class="card-beneficio" id="beneficio1">
                <p>Que tal vender mais um serviço para o seu cliente, tanto com
                    REFORMA como em OBRA NOVA?</p>
            </div>
            <div class="card-beneficio" id="beneficio2">
                <p>Quer aprender como conceber projetos que aproveitem a água
                    em
                    suas instalações prediais?</p>
            </div>
            <div class="card-beneficio" id="beneficio3">
                <p>Quer saber quais são os elementos e como planejar
                    edificações e
                    paisagens com cuidado com as águas?</p>
            </div>
        </div>
        <button class="inscrevase">INSCREVA-SE AGORA</button>
    </main>
</section>