.bg {
    background: url(../../../assets/images/comunidade/Vector.svg) no-repeat;
    background-position: left top;
    background-size: 60%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 8rem;

    width: 100vw;

    margin: 1rem 0 4rem 0;
    padding-top: 6rem;
}

.tag {
    width: 100vw;
}

.content .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

    width: 80%;
}

.content .main .text {
    width: 50%;
    font-size: 1.5rem;
}

.text {
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 130%;
}

.footer {
    width: 80%;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .bg {
        background: transparent;
    }
    
    .content {
    padding-top: 0.5rem;
    gap: 4rem;
    }

    .content .main {
        flex-direction: column;
    }
    
    .content .main .text {
        width: 100%;
        letter-spacing: normal;
        text-align: left;
    }

    .content .main .img-screen img {
        width: 100%;
    }
    
    .footer .text {
        letter-spacing: normal;
        text-align: left;
    }

}