<div class="bg">
    <div class="content">
      <div class="main">
        <div class="text">
            <h2>
                Fórum COLETIVA
            </h2>
          Na Comunidade COLETIVA, a melhor comunidade de arquitetura e construção do
          Brasil, você poderá divulgar seus trabalhos e mostrar seu talento, além
          oferecer e buscar oportunidades (estágio, vagas, parcerias).
        
        <a href="">Descubra nosso fórum</a>

        </div>
    
        <div class="img-screen">
          <img
            src="../../../../assets/images/comunidade/screen.svg"
            alt="Foto da comunidade"
          />
        </div>
      </div>
    </div>
</div>
