<div class="cursos">
    <h3 class="titulo-cursos">Cursos</h3>
    <p class="texto-cursos">
        Proporcionam o aprofundamento,
        o debate e a aplicação da formação continuada,
        de forma instantânea, prática e de utilização na rotina diária,
        avulsos ou por trilhas e jornadas específicas para cada interesse.
        Já passaram por nossos cursos mais de <span>3.000 profissionais</span> do Brasil e do mundo.
    </p>

    <img src="../../../assets/images/carrossel.png"
        alt="Carrossel de cursos"
        class="imagem-carrossel"
    >
</div>
