<section class="cards-section">
    <div class="card" *ngFor="let card of cards">
        <div class="card-info" >
            <img [src]="card['imagem']" alt="foto do usuario" class="foto-usuario">
            <div class="info-usuario">
                <h2 class="nome-usuario">{{card['nome']}}</h2>
                <h3 class="profissao-usuario">{{card['profissao']}}</h3>
            </div>
        </div>
        <div class="card-text">
            <p class="depoimento">
                {{card['comentario']}}
            </p>
        </div>
    </div>
</section>
