<section class="section-certificacoes">
    <main class="certificacoes-content">
        <div class="certificacoes">
            <div class="certificados">
                <ul>
                    <li>
                        <img src="../../../../assets/imagensCursos/image 41.png" alt="">
                        <p>Os certificados são emitidos pela COLETIVA e são reconhecidos pelo mercado.</p>
                    </li>
                    <li>
                        <img src="assets/imagensCursos/image 42.png" alt="">
                        <p>Está dividido em 31 aulas, separados em 4 módulos. Você poderá ver e rever por até 6
                            meses!!</p>
                    </li>
                    <li>
                        <img src="assets/imagensCursos/image 43.png" alt="">
                        <p>Para além de aulas teóricas, também são analisadas obras visando construir uma visão
                            crítica sobre os sistemas e suas aplicações.</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</section>