 .container {
    display: flex;
    flex-direction: column;
}
/*
@media screen and (max-width: 768px) {
    .container {
        gap: 2rem;
        overflow-x: hidden;
    }
} */

/* se quebrar o layout tenta descomentar isso  */