<section class="section-about">
    <main class="about-content">
        <h3>Sobre nós</h3>
        <p>A COLETIVA é um lugar de compartilhamento profissional que integra arquitetura, construção e
            infraestrutura com uma curadoria especializada. Somos profissionais da área, sabemos e sentimos na pele
            as dificuldades e lacunas dos colegas, estudantes, prestadores de serviço público e fornecedores.
            Conectamos profissionais e gestores de referência e que sabem dos problemas do dia a dia da população,
            com os funcionários e técnicos públicos e demais interessados, através de cursos, oficinas, treinamentos
            e workshops, com aprendizado prático, rápido e de utilização imediata no trabalho.</p>
    </main>
</section>