.section-about {
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;

  }

  .about-content {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 2rem;
    color: white;

    border-bottom: 1px #fff solid;

  }

  .section-about hr {
    width: 70%;
    margin: 0 auto;
  }
  @media (max-width: 834px) {

    .about-content p {
      font-size: 1rem;
    }

}