.button {
  background-color: #000;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  margin-bottom: 1rem;
  text-decoration: none;
  width: 100%;
  max-width: 250px;
  border: 0;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  margin-top: 15px;
  transition: 1s ease;
}

.button:hover {
  background-color: #C40019;
}

@media (min-width: 768px) {
  .button {
    padding: 1rem 2rem;
  }
}
