.button {
  background-color: #000;
  border-radius: .5rem;
  box-sizing: border-box;
  border: 1px solid transparent;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  margin-bottom: 1rem;
  text-decoration: none;
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  margin-top: 15px;
  transition: 1s ease;
}

.button:hover {
  background-color: #CD0019;
  border: 1px solid #d0d0d0;
}

@media (min-width: 768px) {
  .button {
    padding: 1rem 2rem;
  }
}
