<div class="container">
    <div class="text">
      <h3>Aulas abertas</h3>
      <p>
        Fomentamos o <span>debate</span> ao trazer
        <span>personalidades</span> que exercem papéis importantes na
        transformação da cidade, das edificações e nos modos de vida cotidiano
        para uma prosa rica e provocadora.
      </p>
      <a href="#">Assista às aulas em nossa plataforma</a>
    </div>
    <div class="carrossel">
      <app-carrossel-ngx [slidesAulas]="pathAberta"></app-carrossel-ngx>
    </div>
  </div>