<div class="about-us">
  <div class="text">
    <h2>Quem faz a COLETIVA?</h2>
    <p>
      Somos profissionais da área, sabemos e sentimos na pele as dificuldades e
      lacunas dos colegas, estudantes, prestadores de serviço público e
      fornecedores. Reunimos arquitetos, urbanistas, engenheiros, artistas,
      estudantes e demais profissionais interessados em discutir, de forma
      crítica, o processo projetual das mais variadas vertentes e metodologias.
    </p>
  </div>

  <div class="cards">
    <app-card-collaborator
      [description]="
        'Arquiteta e urbanista (Universidade Tiradentes, 2021). Desenvolvem as mídias sociais, programas dos cursos e curadoria de conteúdo da COLETIVA.'
      "
      [collaboratorName]="'Vitória Santos Almeida'"
    ></app-card-collaborator>

    <app-card-collaborator
      [description]="
        'Arquiteta e urbanista (Universidade Tiradentes, 2021). Desenvolvem as mídias sociais, programas dos cursos e curadoria de conteúdo da COLETIVA.'
      "
      [collaboratorName]="'Vitória Santos Almeida'"
    ></app-card-collaborator>

    <app-card-collaborator
      [description]="
        'Arquiteta e urbanista (Universidade Tiradentes, 2021). Desenvolvem as mídias sociais, programas dos cursos e curadoria de conteúdo da COLETIVA.'
      "
      [collaboratorName]="'Vitória Santos Almeida'"
    ></app-card-collaborator>
    <app-card-collaborator
      [description]="
        'Arquiteta e urbanista (Universidade Tiradentes, 2021). Desenvolvem as mídias sociais, programas dos cursos e curadoria de conteúdo da COLETIVA.'
      "
      [collaboratorName]="'Vitória Santos Almeida'"
    ></app-card-collaborator>
    <app-card-collaborator
      [description]="
        'Arquiteta e urbanista (Universidade Tiradentes, 2021). Desenvolvem as mídias sociais, programas dos cursos e curadoria de conteúdo da COLETIVA.'
      "
      [collaboratorName]="'Vitória Santos Almeida'"
    ></app-card-collaborator>
  </div>
</div>
