<section class="section-gatilho">
    <main class="gatilho-content">
        <!-- Text Content -->
        <div class="text-gatilho">
            <h1>Quer virar o jogo?</h1>
            <p>CORRE e faz já sua inscrição.<br>Os 50 primeiros inscritos terão acesso à:</p>
            <ul>
                <li><img src="../../../../assets/imagensCursos/Vector.png" alt="">Aula extra com os três professores juntos;</li>
                <li><img src="../../../../assets/imagensCursos/Vector.png" alt="">Materiais de apoio ao projeto (manuais e cartilhas);
                </li>
                <li><img src="../../../../assets/imagensCursos/Vector.png" alt="">Newsletter semanal exclusiva, com as principais
                    novidades do
                    mercado.</li>
            </ul>
            <button>Já está na hora de sua carreira decolar!</button>
        </div>
        <!-- Image Content -->
        <div class="card-imagem">
            <img src="../../../../assets/imagensCursos/launch_svgrepo.com.svg" alt="Rocket Image" class="rocket-animate">

        </div>
    </main>
</section>