<div class="bg">
    <div class="content">
      <div class="tag">
        <app-tag
          [title]="'comunidade coletiva'"
          [img]="'../../../../assets/images/comunidade/community.png'"
        ></app-tag>
      </div>
      <div class="main">
        <div class="text">
          Na Comunidade COLETIVA, a melhor comunidade de arquitetura e construção do
          Brasil, você poderá divulgar seus trabalhos e mostrar seu talento, além
          oferecer e buscar oportunidades (estágio, vagas, parcerias).
        </div>
    
        <div class="img-screen">
          <img
            src="../../../../assets/images/comunidade/screen.svg"
            alt="Foto da comunidade"
          />
        </div>
      </div>
    
      <div class="footer">
        <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam suscipit
            libero blanditiis earum pariatur, laudantium doloremque minus possimus cum
            eligendi expedita provident? Non, temporibus saepe unde pariatur quidem
            nihil beatae.
        </div>
      </div>
    </div>
</div>
