 .card-professor {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 53vh;
    font-size: 1.5vh;
    border-radius: 15px;
    padding: 20px;
  }

  .card-professor p {
    width: 90%;
  }

  .card-professor img {
    width: auto;
    max-height: 100%;
  }


  @media (max-width: 768px) {
    .card-professor {
      width: 70%;

      flex-direction: column;

    }

    .texto-professores {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.8vh;

    }



  }
