<div class="container">
  <div class="tag">
    <app-tag
      [title]="'MENTORIA COLETIVA'"
      [img]="'../../assets/images/mentoria/mentoria.png'"
    ></app-tag>
  </div>
  <div class="header">
    A Mentoria COLETIVA dará acesso às assessorias externas relacionadas à
    arquitetura, engenharia e design, como contabilidade, jurídico,
    profissionais de T.I, administradores, e consultorias com nossos professores
    parceiros, num modelo de mentoria.
  </div>
  <div class="main">
    <img src="../../../assets/images/mentoria/mentoria-pessoas.png" alt="duas pessoas em uma mentoria" />
    <div class="text">
      A Mentoria COLETIVA dará acesso às assessorias externas relacionadas à
      arquitetura, engenharia e design, como contabilidade, jurídico,
      profissionais de T.I, administradores, e consultorias com nossos
      professores parceiros, num modelo de mentoria.
    </div>
  </div>
</div>
