.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;

    gap: 2rem;
}

.tag {
    width: 100vw;
}

.container .header {
    margin: 2rem auto;
    padding: 1.5rem;
    width: 80%;

    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.container .main {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    gap: 4rem;
}

.container .main .text {
    width: 40%;
    font-size: 1.5rem;
    text-align: right;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .container .header {    
        text-align: left;
    }

    .container .main {
        flex-direction: column;
    }
    
    .container .main img {
        width: 100%;
    }

    .container .main .text {
        text-align: left;
        width: 100%;
    }
}