.escola {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin: 50px 0;


}

.tag {
  width: 100vw;
}  

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    margin: 0 auto;
}

.description > p.texto {
    text-align: center;
    font-family: 'DM Sans';
    font-size: 32px;
    padding-bottom: 75px;
}

@media screen and (max-width: 768px) {
  .description {
    width: 80%;
  }
  
  .description > p.texto {
    font-size: 1.5rem;
    padding-bottom: 3.75rem;
    text-align: left;
  }
}
