<div class="contaniner">
    <app-header></app-header>
    <app-main-page></app-main-page>
    <app-promessa></app-promessa>
    <app-beneficios></app-beneficios>
    <app-avaliacao-cursos></app-avaliacao-cursos>
    <app-pertencimento></app-pertencimento>
    <app-solucao></app-solucao>
    <app-aprender-aqui></app-aprender-aqui>
    <app-certificacoes></app-certificacoes>
    <app-grade></app-grade>
    <app-professores></app-professores>
    <app-compra></app-compra>
    <app-gatilho></app-gatilho>
    <app-garantia></app-garantia>
    <app-call></app-call>
    <app-about-us-cursos></app-about-us-cursos>
    <app-footer></app-footer>
</div>