<div class="module">
  <div class="module-image">
    <img src="../../../../assets/imagensCursos/image 38.png" alt="" />
  </div>
  <div class="responsive-div">
    <ul class="column-items">
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" />Quais
        elementos são importantes para planejar edificações e paisagens com
        cuidado com as águas?
      </li>
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" />Como
        conceber projetos que aproveitem a água em suas instalações prediais?
      </li>
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" /> Como
        dimensionar esses sistemas de armazenamento, reuso e tratamento e
        relacioná-los com os demais?
      </li>
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" /> Como
        dimensionar esses sistemas de armazenamento, reuso e tratamento e
        relacioná-los com os demais?
      </li>
    </ul>
    <ul class="column-items">
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" />Como
        armazenar e reutilizar a água?
      </li>
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" />Quais
        são os tratamentos possíveis para águas?
      </li>
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" />Você
        quer aprender como integrar paisagismo com infraestrutura hídrica, na
        escala urbana ou na escala da edificação?
      </li>
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" />Você
        quer aprender como integrar paisagismo com infraestrutura hídrica, na
        escala urbana ou na escala da edificação?
      </li>
    </ul>
    <ul class="column-items">
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" />Quais
        elementos são importantes para planejar edificações e paisagens com
        cuidado com as águas?
      </li>
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" />Como
        conceber projetos que aproveitem a água em suas instalações prediais?
      </li>
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" /> Como
        dimensionar esses sistemas de armazenamento, reuso e tratamento e
        relacioná-los com os demais?
      </li>
      <li class="item">
        <img src="../../../../assets/imagensCursos/Vector.png" alt="" /> Como
        dimensionar esses sistemas de armazenamento, reuso e tratamento e
        relacioná-los com os demais?
      </li>
    </ul>
  </div>
</div>
