<section class="cards-section">
    <div class="card">
        <div class="card-info">
            <img src="../../../assets/images/foto-pessoa.png" alt="foto do usuario" class="foto-usuario">
            <div class="info-usuario">
                <h2 class="nome-usuario">Marcelo Moreira</h2>
                <h3 class="profissao-usuario">Eng. Civil</h3>
            </div>
        </div>
        <div class="card-text">
            <p class="depoimento">
                "Participar da COLETIVA foi um divisor de águas na minha carreira! A comunidade é incrível, cheia de profissionais dispostos a compartilhar conhecimento. Os cursos são práticos e me ajudaram a aprimorar minhas habilidades de design de uma forma que eu não achava possível!"
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-info">
            <img src="../../../assets/images/foto-pessoa.png" alt="foto do usuario" class="foto-usuario">
            <div class="info-usuario">
                <h2 class="nome-usuario">Marcelo Moreira</h2>
                <h3 class="profissao-usuario">Eng. Civil</h3>
            </div>
        </div>
        <div class="card-text">
            <p class="depoimento">
                "Participar da COLETIVA foi um divisor de águas na minha carreira! A comunidade é incrível, cheia de profissionais dispostos a compartilhar conhecimento. Os cursos são práticos e me ajudaram a aprimorar minhas habilidades de design de uma forma que eu não achava possível!"
            </p>
        </div>
    </div>
</section>
